<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.database">
    <permission android:name="com.example.abhishek.database.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.example.abhishek.database.WRITE_DATABASE" android:protectionLevel="normal" />
    <uses-permission android:name="com.example.abhishek.database.READ_DATABASE" />
    <uses-permission android:name="com.example.abhishek.database.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ShowList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.abhishek.database.provider"
            android:name=".ContentProvide"
            android:readPermission="com.example.abhishek.database.READ_DATABASE"
            android:writePermission="com.example.abhishek.database.WRITE_DATABASE"
            android:exported="true">
        </provider>
    </application>

</manifest>
